* {
  padding: 0%;
  margin: 0%;
  background: rgb(68, 119, 238);
}

.parent {
  display: grid;
  grid-template-columns: minmax(150px, 50%) 1fr;
}

.address{
  display: none;
  grid-template-columns: minmax(150px, 50%) 1fr;
}

.toppings{
  /* display: none; */
  grid-template-columns: minmax(150px, 50%) 1fr;
}

#responses {
  display: none;
}

#message-price {
  display: none;
}


/* .menuButton{
  display: none;
} */